<div>
  <input type="number" [(ngModel)]="calculatorModel.firstArgument" />

  <select matNativeControl [(ngModel)]="calculatorModel.operationType" name="car">
    <option *ngFor="let operation of operationList;" [value]="operation.operationValue">
      {{operation.operationText}}
    </option>
  </select>

  <input type="number" [(ngModel)]="calculatorModel.secondArgument" />
  =
  <input type="number" [(ngModel)]="calculatorResult.result" disabled />
  <input type="button" value="Calculate" (click)="calculate()" class="btn btn-sm btn-success" />
</div>